<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="index.css">
  <title>RWD-Practice</title>
</head>

<body>
  <header>
    <h1>RWD</h1>
    <nav>
      <ul>
        <li><a href="#">R</a></li>
        <li><a href="#">W</a></li>
        <li><a href="#">D</a></li>
      </ul>
    </nav>
  </header>

  <section>
    <section class="img-f">
      <figure>
        <img
          src="https://cdn.dribbble.com/users/1104799/screenshots/14725908/media/b50ae57d16a3cc62a5eaba345d98cd36.png?compress=1&resize=1000x750"
          alt="">
      </figure>
      <figure>
        <img
          src="https://cdn.dribbble.com/users/1044993/screenshots/15525960/media/ca7447bdd4c1e607f08739c6ad7ff021.png?compress=1&resize=1000x750"
          alt="">
      </figure>
      <figure>
        <img
          src="https://cdn.dribbble.com/users/113499/screenshots/7006153/media/1af75c73d98c2c6b8217294e65a603a9.png?compress=1&resize=800x600"
          alt="">
      </figure>
    </section>

    <article>
      <section>
        <h2>Cat1</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil commodi ipsam ut voluptas asperiores, ab enim
          at
          cum eligendi eaque quae fugiat exercitationem distinctio quidem nulla perspiciatis provident dolore alias.</p>
      </section>
      <section>
        <h2>Cat2</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident tempore odit doloremque sunt assumenda
          tempora maxime cumque, expedita mollitia culpa quas! Consequuntur accusamus eaque magni explicabo veniam
          veritatis autem saepe.</p>
      </section>
    </article>

    <section class="img-s">
      <figure>
        <img
          src="https://cdn.dribbble.com/users/1044993/screenshots/13941086/media/a393009653871bc4cf47bb141226ec1a.png?compress=1&resize=1000x750"
          alt="">
      </figure>
      <figure>
        <img
          src="https://cdn.dribbble.com/users/1044993/screenshots/13725077/media/a3cda8290b9beb14991411b2ab7ce153.png?compress=1&resize=1000x750"
          alt="">
      </figure>
      <figure>
        <img
          src="https://cdn.dribbble.com/users/1044993/screenshots/10494076/media/8c7e834295ac74556c6622c9dfc136bc.png?compress=1&resize=1000x750"
          alt="">
      </figure>
      <figure>
        <img
          src="https://cdn.dribbble.com/users/1044993/screenshots/11546372/media/2486347d1e990c61456b61e2040ed78c.png?compress=1&resize=1000x750"
          alt="">
      </figure>
      <figure>
        <img
          src="https://cdn.dribbble.com/users/1044993/screenshots/10836458/media/854c7009e7b2110db79585b0878b66e8.png?compress=1&resize=1000x750"
          alt="">
      </figure>
      <figure>
        <img
          src="https://cdn.dribbble.com/users/1044993/screenshots/14320957/media/d1cf37b04e4c199d1f4ed66c4ce2e659.png?compress=1&resize=1000x750"
          alt="">
      </figure>
    </section>
  </section>

  <footer>
    <p>footer</p>
  </footer>
</body>

</html>